@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #06b6d4, #10b981);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #0891b2, #059669);
  }
  html {
    scroll-behavior: smooth;
  }
}